*.csv
/Machine Learning/Machine Learning Projects/Uncompleted
*.xlsx
*.docx
.DS_Store
/Data Cleaning /Data Cleaning Projects/.ipynb_checkpoints
/Data Cleaning /Data Cleaning Projects/employee_exit_survey
/Data Cleaning /Data Cleaning Projects/nyc_high_school
/Data Cleaning /Data Cleaning Projects/star_wars_survey

